AMBIENTE=ab-code
AWS_ACCESS_KEY_ID=ab-code
AWS_DEFAULT_REGION=ab-code
AWS_S3_APP_NAME=ab-code
AWS_S3_BUCKET_NAME=ab-code
AWS_SECRET_ACCESS_KEY=ab-code
COSMOS_API_TOKEN=ab-code
DEEPL_API_KEY=ab-code
EMAIL_FROM=ab-code
EMAIL_PASSWORD=ab-code
EMAIL_USE_TLS=ab-code
EMAIL_USERNAME=ab-code
FERNET_KEY=ab-code
FIREBASE_API_KEY=ab-code
FIREBASE_APP_ID=ab-code
FIREBASE_AUTH_DOMAIN=ab-code
FIREBASE_MESSAGING_SENDER_ID=ab-code
FIREBASE_PROJECT_ID=ab-code
FIREBASE_STORAGE_BUCKET=ab-code
FLET_SECRET_KEY=ab-code
NUVEMFISCAL_CLIENT_ID=ab-code
NUVEMFISCAL_CLIENT_SECRET=ab-code
RENDER=ab-code
SMTP_PORT=ab-code
SMTP_SERVER=ab-code
URL_LOGIN=ab-code