AMBIENTE=dev
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FLET_SECRET_KEY=
DEEPL_API_KEY=
FERNET_KEY=
NUVEMFISCAL_CLIENT_ID=
NUVEMFISCAL_CLIENT_SECRET=
COSMOS_API_TOKEN=
