flet==0.26.0
flet-cli==0.26.0
flet-desktop==0.26.0
flet-web==0.26.0
uvicorn==0.34.0
websockets==14.2
firebase-admin==6.6.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
deepl==1.21.0
boto3==1.36.11