flet==0.28.3
flet-cli==0.28.3
flet-desktop==0.28.3
flet-web==0.28.3
uvicorn==0.35.0
websockets==15.0.1
firebase-admin==7.1.0
google-auth-httplib2==0.2.0
boto3==1.40.8
deepl==1.22.0
aiohttp==3.12.15
aiosmtplib==4.0.1
cryptography==45.0.6
pytz==2025.2
requests==2.32.4
fastapi==0.116.1
tenacity==9.1.2
babel==2.17.0